.account-card {
  width: 400px;
  max-width: 460px;
}

.account-header {
  display: flex;
  justify-content: center;
}

.account-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
