.login-card {
  width: 400px;
}

.login-header {
  display: flex;
  justify-content: center;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
