.toy-card {
  width: 300px;
}

.title {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.toy-card {
  cursor: pointer;
}

.toy-card:hover {
  transform: scale(1.02);
}

.loading-card {
  max-width: 420px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-container {
  position: fixed;
  left: 0;
  top: 80px;

  width: 300px;
  height: calc(100vh - 80px);

  z-index: 1000;
  background: transparent;

  pointer-events: none;
}

.filter-sidenav {
  width: 250px;
  padding: 20px;
  pointer-events: auto;
}

.filter-button-container {
  pointer-events: auto;
  background: transparent;
}
