@if (toys().length > 0) {
  <div class="wrapper">
    @for (t of toys(); track t.toyId) {
      <mat-card class="toy-card" appearance="outlined" [routerLink]="`/details/${t.toyId}`">
        <img [src]="utils.getImageUrl(t)" />
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>{{ t.name }}</mat-card-title>
            <mat-card-subtitle> {{ t.price }} RSD</mat-card-subtitle>
          </mat-card-header>
        </mat-card-content>
        <mat-card-actions>
          @if (service.getActiveUser()) {
            <button matButton (click)="$event.stopPropagation()">
              Add to cart <mat-icon fontIcon="add_shopping_cart"></mat-icon>
            </button>
          }
        </mat-card-actions>
      </mat-card>
    }
  </div>
} @else {
  <app-loading></app-loading>
}
