@if (toy()) {
  <div class="details-wrapper">
    <mat-card class="details-card">
      <mat-card-content>
        <img [src]="utils.getImageUrl(toy()!)" alt="" class="details-image" />
      </mat-card-content>
    </mat-card>

    <mat-card class="details-card">
      <mat-card-content>
        <h1>{{ toy()?.name }}</h1>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Target group: {{ toy()?.targetGroup }}</span>
          </mat-list-item>
          <mat-list-item>Description: {{ toy()?.description }}</mat-list-item>
          <mat-list-item>
            <span matListItemTitle
              >Production date: {{ utils.formatDate(toy()!.productionDate) }}</span
            >
          </mat-list-item>
          <mat-list-item>Price: {{ toy()?.price }}</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        @if (service.getActiveUser()) {
          <button matButton (click)="addToCart()">
            Add to cart <mat-icon fontIcon="add_shopping_cart"></mat-icon>
          </button>
        }
      </mat-card-actions>
    </mat-card>
  </div>
} @else {
  <app-loading></app-loading>
}

<!-- //https://toy.pequla.com -->
